@import url('https://fonts.cdnfonts.com/css/irish-grover');
@import url('https://fonts.cdnfonts.com/css/chewy');


*{
  margin: 0;
  padding: 0;      
  }
  
& body{
  width: auto;
  height: 1368px;
  background: linear-gradient(0deg, rgba(10,3,26,0.95) 53%, rgba(0,0,62,0.95) 100%);

  & header{
    & a{
      color: rgba(0, 178, 179, 1);
    }
  }

  & main{
    display: grid;
    grid-template: 20vh 20vh 70vh / auto;
    gap: 10vh;

    & h1{
      font-family: 'Irish Grover', sans-serif;
      margin-top: 5vh;
      text-align: center;
      font-size: 64px;
      color: #fff;
    }

    & p{
      font-family: 'Irish Grover', sans-serif;
      justify-self: center;
      width: 30vw;
      font-size: 32px;
      text-align: center;
      color: #fff;
    }

    & #primeira-pergunta{
      display: grid;
      grid-template: 10vh / auto;
      width: 30vw;
      height: 40vh;
      background-color: rgba(0, 178, 179, 1);
      border-radius: 55px;
      justify-self: center;

      & h3{
        font-family: 'Irish Grover', sans-serif;
        align-self: center;
        text-align: center;
      }

      & #botoes{
        align-self: center;
        justify-self: center;
        display: flex;
        width: 20vw;
        height: 10vh;
        padding: 30px;
        background-color: rgba(0, 73, 103, 1);
        border: 2px solid black;
        border-radius: 55px;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 30px;
        font-family: 'Chewy', sans-serif;
        

        & #logar{
          padding: 10px;
          background-color: rgba(0, 178, 179, 1);
          border: 2px solid black;
          border-radius: 55px;
          
          
          
          & a{
            text-decoration: none;
            color: #fff;
          }
        }

        & #cadastrar{
          padding: 10px;
          border: 2px solid black;
          border-radius: 55px;
          background-color: rgba(0, 178, 179, 1);

          & a{
            text-decoration: none;
            color: #fff;
          }
        }

        & #sucesso{
          background-color: rgba(6, 223, 14, 0.6);
          font-size: 40px;
          font-family: 'Irish Grover', sans-serif;
          border: 1px solid black;
          padding: 10px;
        }

        & #erro{
          font-size: 40px;
          font-family: 'Irish Grover', sans-serif;
          padding: 10px;
          background-color: rgba(223, 6, 6, 0.6);
          border: 1px solid black;
        }
        
      }
    }

    & .div-btn-fechar{
      display: flex;
      margin-right: 30px;
      justify-content: end;
      font-size: 40px;
      font-family: 'Irish Grover', sans-serif;

      & a{
        color: #000;
        text-decoration: none;
      }
    }

    & .checkbox{
      margin-left: 5vw;
    }

    & button[type=submit]{
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px;
      width: 10vw;
      color: rgba(72, 200, 255, 1);
      background-color: rgba(0, 73, 103, 1);
      font-size: 20px;
      font-family: 'Chewy', sans-serif;
    }

    &  #login{
      align-self: center;
      justify-self: center;
      width: 50vw;
      height: 90vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.6);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      & label{
        margin-left: 20px;
        font-family: 'Irish Grover', sans-serif;
        font-size: 20px;
      }

      & input{
        border: 5px solid rgba(0, 73, 103, 1);
        border-radius: 10px;
      }

      & fieldset{
        display: grid;
        grid-template: 60vh 10vh / auto;
        border: none;

        & .forms{
          display: grid;
          grid-template: 20vh 10vh 10vh 5vh / auto;
          background-color: rgba(217, 217, 217, 0.6);
          border-radius: 50px;
          margin-left: 5vw;
          width: 40vw;
          gap: 20px;
        }

        & #btn-logar{
          align-self: flex-end;
          justify-self: center;
        }

        & .id{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: flex-end;
          width: 30vw;
          margin-left: 5vw;

        }

        & .email{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: center;
          width: 30vw;
          margin-left: 5vw;
        }

        & .senha{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: center;
          width: 30vw;
          margin-left: 5vw;
        }
      }
      
    }
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:480px) {
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & h1{
        align-self: self-end;
        font-size: 45px;
      }
  
      & p{
        width: 50vw;
        font-size: 22px;
      }
  
      & #primeira-pergunta{
        width: 70vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 15vh;
          padding: 30px;
          font-size: 20px;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:768px) and (min-width:481px){
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & p{
        width: 50vw;
      }
  
      & #primeira-pergunta{
        width: 70vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 5vh;
          padding: 30px;
          font-size: 20px;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) and (min-width:769px){
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & p{
        width: 50vw;
      }
  
      & #primeira-pergunta{
        width: 60vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 10vh;
          padding: 30px;
          font-size: 20px;
        }
      }
    }
  }
}