@import url('https://fonts.cdnfonts.com/css/irish-grover');
@import url('https://fonts.cdnfonts.com/css/chewy');


*{
  margin: 0;
  padding: 0;      
  }
  
& body{
  width: auto;
  background: linear-gradient(0deg, rgba(10,3,26,0.95) 53%, rgba(0,0,62,0.95) 100%);

  & header{
    & a{
      color: rgba(0, 178, 179, 1);
    }
  }

  & main{
    display: grid;
    grid-template: 20vh 20vh 70vh / auto;
    gap: 10vh;

    & h1{
      font-family: 'Irish Grover', sans-serif;
      margin-top: 5vh;
      text-align: center;
      font-size: 64px;
      color: #fff;
    }

    & p{
      font-family: 'Irish Grover', sans-serif;
      justify-self: center;
      width: 30vw;
      font-size: 32px;
      text-align: center;
      color: #fff;
    }

    & #primeira-pergunta{
      display: grid;
      grid-template: 10vh / auto;
      width: 30vw;
      height: 40vh;
      background-color: rgba(0, 178, 179, 1);
      border-radius: 55px;
      justify-self: center;

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 30px;
        align-self: center;
        text-align: center;
      }

      & #botoes{
        align-self: center;
        justify-self: center;
        display: flex;
        width: 20vw;
        height: auto;
        padding: 30px;
        background-color: rgba(0, 73, 103, 1);
        border: 2px solid black;
        border-radius: 55px;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 30px;
        font-family: 'Chewy', sans-serif;
        

        & #logar{
          padding: 10px;
          background-color: rgba(0, 178, 179, 1);
          border: 2px solid black;
          border-radius: 55px; 
          
          & a{
            text-decoration: none;
            color: #fff;
          }
        }

        & #cadastrar{
          padding: 10px;
          border: 2px solid black;
          border-radius: 55px;
          background-color: rgba(0, 178, 179, 1);

          & a{
            text-decoration: none;
            color: #fff;
          }
        }

        & #sucesso{
          background-color: rgba(6, 223, 14, 0.6);
          font-size: 40px;
          font-family: 'Irish Grover', sans-serif;
          border: 1px solid black;
          padding: 10px;
        }

        & #erro{
          font-size: 40px;
          font-family: 'Irish Grover', sans-serif;
          padding: 10px;
          background-color: rgba(223, 6, 6, 0.6);
          border: 1px solid black;
        }
        
      }
    }

    & label{
      margin-left: 20px;
      font-family: 'Irish Grover', sans-serif;
      font-size: 20px;
    }

    & input{
      border: 5px solid rgba(0, 73, 103, 1);
      border-radius: 10px;
    }

    & button[type=submit]{
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px;
      width: 10vw;
      color: rgba(72, 200, 255, 1);
      background-color: rgba(0, 73, 103, 1);
      font-size: 20px;
      font-family: 'Chewy', sans-serif;
    }

    & .Co{
      font-size: 15px;
    }

    & .div-btn-fechar{
      display: flex;
      margin-right: 30px;
      justify-content: end;
      font-size: 40px;
      font-family: 'Irish Grover', sans-serif;

      & a{
        color: #000;
        text-decoration: none;
      }
    }

    & .checkbox{
      margin-left: 5vw;
    }

    &  #login{
      align-self: center;
      justify-self: center;
      width: 50vw;
      height: 90vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.6);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      & fieldset{
        display: grid;
        grid-template: 60vh 10vh / auto;
        border: none;

        & .forms{
          display: grid;
          grid-template: 20vh 10vh 10vh 10vh / auto;
          background-color: rgba(217, 217, 217, 0.6);
          border-radius: 50px;
          margin-left: 5vw;
          width: 40vw;
          gap: 20px;
        }

        & #btn-logar{
          align-self: flex-end;
          justify-self: center;
        }

        & .id{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: flex-end;
          width: 30vw;
          margin-left: 5vw;

        }

        & .email{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: center;
          width: 30vw;
          margin-left: 5vw;
        }

        & .senha{
          display: grid;
          grid-template: 3vh 5vh / auto;
          align-self: center;
          width: 30vw;
          margin-left: 5vw;
        }
      }
      
    }

    & #tipoCadastro{
      align-self: center;
      justify-self: center;
      width: 60vw;
      height: 55vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.7);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }
      
      & #opcoes{
        display: grid;
        grid-template: 10vh 20vh / auto;
        background-color: rgba(217, 217, 217, 0.6);
        border-radius: 50px;
        margin-left: 8vw;
        width: 45vw;
        gap: 20px;

        & #a3btn{
          justify-self: center;
          align-self: center;
          display: grid;
          grid-template: auto / 10vw 10vw 10vw;
          gap: 40px;
          
          & a{
            justify-self: center;
            text-align: center;
            text-decoration: none;
            background-color: rgba(0, 73, 103, 1);
            width: max-content;
            color: rgba(72, 200, 255, 1);
            font-size: 32px;
            border: 3px solid black;
            border-radius: 30px;
            width: 9vw;
            padding: 13px;
            font-family: 'Chewy', sans-serif;
            flex-wrap: wrap;
          }
        }

        & p{
          align-self: center;
          width: max-content;
          font-size: 24px;
          font-family: 'Chewy', sans-serif;
          color: #000;
        }
      }
    }

    & #cadastroUser{
      align-self: center;
      justify-self: center;
      width: 60vw;
      height: 100vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.7);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      & fieldset{
        display: grid;
        border: none;
      }

      & .forms{
        display: grid;
        grid-template: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 30vh/ auto;
        background-color: rgba(217, 217, 217, 0.6);
        border-radius: 50px;
        margin-left: 5vw;
        width: 40vw;
        padding: 30px;
        gap: 30px;

      }
    }

    & #cadastroEmpresa{
      align-self: center;
      justify-self: center;
      width: 60vw;
      height: 100vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.7);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      & fieldset{
        display: grid;
        grid-template: 120vh 30vh / auto;
        border: none;
    
        & .forms{
          display: grid;
          grid-template: 10vh 10vh 10vh 10vh 10vh 0vh 60vh/ auto;
          background-color: rgba(217, 217, 217, 0.6);
          border-radius: 50px;
          margin-left: 5vw;
          width: 40vw;
          padding: 30px;
          gap: 30px;
  
        }
      }
    }

    & #cadastroOng{
      align-self: center;
      justify-self: center;
      width: 60vw;
      height: 100vh;
      border-radius: 39px;
      background-color: rgba(217, 217, 217, 0.7);

      & h3{
        font-family: 'Irish Grover', sans-serif;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      & fieldset{
        display: grid;
        grid-template: 180vh 10vh / auto;
        border: none;
    
        & .forms{
          display: grid;
          grid-template: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 20vh 20vh 20vh 20vh/ auto;
          background-color: rgba(217, 217, 217, 0.6);
          border-radius: 50px;
          margin-left: 5vw;
          width: 40vw;
          padding: 30px;
          gap: 30px;

          & #identificacao{
            display: grid;
            gap: 5vw;
            grid-template: auto / 20vw 15vw;
            
          }
  
        }
      }
    }

    & .nome{
      display: grid;
      grid-template: 30px 40px 20px / auto;
      margin-left: 3vw;
    }

    & .user-name{
      display: grid;
      grid-template: 30px 40px / auto;
      margin-left: 3vw;
    }

    & .idade{
      display: grid;
      grid-template: 30px 40px / auto;
      margin-left: 3vw;
    }

    & .endereco{
      display: grid;
      grid-template: 30px 40px / auto;
      margin-left: 3vw;
    }

    & .Email{
      display: grid;
      grid-template: 30px 40px 20px / auto;
      margin-left: 3vw;
    }

    & .Senha{
      display: grid;
      grid-template: 30px 40px 20px / auto;
      margin-left: 3vw;
    }

    & .telefone{
      display: grid;
      grid-template: 30px 40px / auto;
      margin-left: 3vw;
    }

    & .redes-socias{
      display: grid;
      grid-template: 50px 100px / auto;
      margin-left: 3vw;

      & .redesSS{
        display: grid;
        grid-template: 6vw 6vw / 15vw 15vw;
        column-gap: 50px;

        & input{
          height: 4vh;
        }
      }
    }

    & .website{
      display: grid;
      grid-template: 30px 40px / auto;
      margin-left: 3vw;
    }

    & .data{
      display: grid;
      grid-template: 30px 40px 20px / auto;
      margin-left: 3vw;
    }

    & .sigla{
      display: grid;
      width: 5vw;
      height: 4vh;
      align-self: center;
    }

    & .descricao{
      display: grid;
      grid-template: 30px 100px 20px / auto;
      margin-left: 3vw;
    }
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:480px) {
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & h1{
        align-self: self-end;
        font-size: 45px;
      }
  
      & p{
        width: 50vw;
        font-size: 22px;
      }
  
      & #primeira-pergunta{
        width: 70vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 15vh;
          padding: 30px;
          font-size: 20px;
        }
      }

      & label{
        margin-left: 10px;
        font-family: 'Irish Grover', sans-serif;
        font-size: 20px;
      }
  
      & input{
        width: 30vw;
        border: 5px solid rgba(0, 73, 103, 1);
        border-radius: 10px;
      }
  
      & button[type=submit]{
        border: 1px solid white;
        border-radius: 30px;
        padding: 10px;
        width: 20vw;
        color: rgba(72, 200, 255, 1);
        background-color: rgba(0, 73, 103, 1);
        font-size: 20px;
        font-family: 'Chewy', sans-serif;
      }
  
      & .Co{
        font-size: 15px;
      }

      & #tipoCadastro{
        align-self: center;
        justify-self: center;
        width: 60vw;
        height: 55vh;
        border-radius: 39px;
        background-color: rgba(217, 217, 217, 0.7);
        flex-direction: column;
  
        & h3{
          font-family: 'Irish Grover', sans-serif;
          font-size: 40px;
          color: #fff;
          text-align: center;
        }
        
        & #opcoes{
  
          & #a3btn{
            display: flex;
            justify-self: center;
            align-self: center;
            display: grid;
            grid-template: auto / 10vw 10vw 10vw;
            gap: 40px;
            flex-wrap: wrap;
  
            & a{
              display: flex;
              justify-self: center;
              text-align: center;
              text-decoration: none;
              margin-right: 60vw;
              font-size: 15px;
              width: 9vw;
              padding: 10px;
              font-family: 'Chewy', sans-serif;
              flex-wrap: wrap;
            }
          }
  
          & p{
            align-self: center;
            width: max-content;
            font-size: 24px;
            font-family: 'Chewy', sans-serif;
            color: #000;
          }
        }
      }
      & .redes-socias{
        display: grid;
        grid-template: 50px;
        flex-direction: column;
  
        & .redesSS{
          display: flex;
          column-gap: 50px;
          flex-direction: column;
  
          & input{
            height: 4vh;
          }
        }
      }
      & #cadastroUser{
        & .forms{
          grid-template: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 40vh/ auto;
        }
      }

      & #cadastroOng{
  
        & h3{
          font-family: 'Irish Grover', sans-serif;
          font-size: 50px;
          color: #fff;
          text-align: center;
        }
  
        & fieldset{
          grid-template: 285vh 10vh / auto;
      
          & .forms{
            grid-template: 20vh 15vh 15vh 15vh 15vh 15vh 15vh 45vh 25vh 25vh 25vh/ auto;

            & #identificacao{
              display: grid;
              grid-template: 10vh 15vh / auto;
            }
    
          }
        }
      }

      & .redes-socias{
        display: grid;
        grid-template: 50px;
        flex-direction: column;
  
        & .redesSS{
          display: flex;
          column-gap: 50px;
          flex-direction: column;
  
          & input{
            height: 4vh;
          }
        }
      }

      & .descricao{
        grid-template: 45px 100px 60px / auto;
      }

    }
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:768px) and (min-width:481px){
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & p{
        width: 50vw;
      }
  
      & #primeira-pergunta{
        width: 70vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 5vh;
          padding: 30px;
          font-size: 20px;
        }
      }

      & #cadastroOng{
  
        & h3{
          font-family: 'Irish Grover', sans-serif;
          font-size: 50px;
          color: #fff;
          text-align: center;
        }
  
        & fieldset{
          grid-template: 285vh 10vh / auto;
      
          & .forms{
            grid-template: 20vh 15vh 15vh 15vh 15vh 15vh 15vh 55vh 25vh 25vh 25vh/ auto;

            & #identificacao{
              display: grid;
              grid-template: 10vh 15vh / auto;
            }
    
          }
        }
      }

      & .redes-socias{
  
        & .redesSS{
          display: flex;
          column-gap: 60px;
          flex-direction: column;
  
          & input{
            display: flex;
            height: 5vh;
          }
        }
      }

      & #cadastroEmpresa{
  
        & fieldset{
          grid-template: 125vh 20vh / auto;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) and (min-width:769px){
  & body{
  
    & main{
      grid-template: 20vh 20vh 70vh / auto;
  
      & p{
        width: 50vw;
      }
  
      & #primeira-pergunta{
        width: 60vw;
        height: 40vh;
  
        & #botoes{
          width: 30vw;
          height: 10vh;
          padding: 30px;
          font-size: 20px;
        }
      }

      & #cadastroOng{
  
        & h3{
          font-family: 'Irish Grover', sans-serif;
          font-size: 50px;
          color: #fff;
          text-align: center;
        }
  
        & fieldset{
          grid-template: 285vh 10vh / auto;
      
          & .forms{
            grid-template: 25vh 15vh 15vh 15vh 15vh 15vh 15vh 55vh 25vh 25vh 25vh/ auto;

            & #identificacao{
              display: grid;
              grid-template: 10vh 10vh / auto;
            }

            & .sigla{
              margin-left: 3vw;
              display: grid;
              width: 35vw;
              height: 4vh;
              align-self: center;
            }
    
          }
        }
      }

      & .redes-socias{
  
        & .redesSS{
          display: flex;
          column-gap: 60px;
          flex-direction: column;
  
          & input{
            display: flex;
            height: 5vh;
          }
        }
      }

      & #cadastroEmpresa{
  
        & fieldset{
          grid-template: 125vh 20vh / auto;
        }
      }

    }
  }
}