@import url('https://fonts.cdnfonts.com/css/kavoon');
@import url('https://fonts.cdnfonts.com/css/irish-grover');  

body{
    background-image: url('../imgs/index/fundo-main-index.png');
    background-repeat: no-repeat;
    background-size: 105vw 130vh;
    
    & header{
        
        & a{
            color: #004967;
        }
    }

    & main{
        display: grid;
        grid-template: 103.3vh 90vh 90vh 90vh 90vh/ auto;
        background-image: url('../imgs/padroes/bolhas.png');
        background-position-y: 103.3vh;
        background-repeat: no-repeat;

        & h1{
            font-size: 85px;
            font-family: 'Irish Grover', sans-serif;
            color: rgba(1, 101, 157, 1);
            text-decoration: underline;
            text-align: center;
        }

        & .titulo{
            justify-self: center;
            width: 80vw;
            height: 20vh;
            background-color: rgba(255, 255, 255, 0.35);

            & a{
                text-decoration: none;
            }

            & h2{
                font-family: 'Irish Grover', sans-serif;
                margin-top: 20px;
                text-align: center;
                font-size: 80px;
                color: rgba(1, 101, 157, 1);
            }

        }
            & .texto{
                font-family: 'kavoon', sans-serif;
                font-size: 30px;
                color: rgb(255, 255, 255);
                border: 5px solid rgb(255, 255, 255);
                padding: 20px;
                width: 90vw;
                justify-self: center;
                align-self: center;
                & li{
                    margin-left: 30px;
                }
            }

        & #informacoes{
            background: linear-gradient(0deg, rgba(0,96,140,0.95) 0%, rgba(9,149,168,0.95) 100%);
            display: grid;
            grid-template: 20vh / auto;
        }

        & #pegada-carbono{
            background: linear-gradient(0deg, rgba(0,0,62,0.95) 0%, rgba(0,102,145,0.95) 100%);
            display: grid;
            grid-template: 20vh / auto;

        }

        & #denuncia{
            background-color: rgba(0,0,62,0.95);
            display: grid;
            grid-template: 20vh / auto;
        }

        & #ongs{
            background: linear-gradient(0deg, rgba(10,3,26,0.95) 0%, rgba(0,0,62,0.95) 100%);
            display: grid;
            grid-template: 20vh / auto;
        }

    }

    & footer{
        padding: 2vw;
        background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(10,3,26,0.95) 100%);
    }

}