@import url('https://fonts.cdnfonts.com/css/kavoon');
@import url('https://fonts.cdnfonts.com/css/irish-grover');
@import url('https://fonts.cdnfonts.com/css/chewy');

body{
    background: linear-gradient(0deg, rgba(0,0,62,0.95) 0%, rgba(9,149,168,0.95) 100%);
    background-repeat: no-repeat;
    background-size: auto 234.4vh;

    & header{
        & a{
            color: #004967;
        }
    }

    & main{
        margin: 10vh;
        color: #ffff;
        padding: 20px;

        & #txt{
            & h3{
                font-family: 'Irish Grover', sans-serif;
                font-size: 50px;

            }
            & p{
                font-family: 'Chewy', sans-serif;
                padding: 30px;
                font-size: 32px;
            }
        }
        
        & #equipe{
            & h3{
                font-family: 'Irish Grover', sans-serif;
                font-size: 50px;
                text-align: center;
                padding: 100px;
            }

            & #fotos{
                display: grid;
                grid-template: auto / 20vw 20vw 20vw;
                Justify-content:space-between;
                padding: 50px;
                border-radius: 85px;
                width: 80vw;
                background-color: rgba(10, 3, 26, 0.69);
                font-size: 15px;
                text-align: center;
                

                & #Erick{
                    border: 10px;
                    border: 2px solid rgb(255, 255, 255);
                    justify-self: center;
                    padding: 20px;
                    border-radius: 10px;
                    
                }

                & #Luiz{
                    border: 2px solid rgb(255, 255, 255);
                    justify-self: center;
                    padding: 20px;
                    border-radius: 10px;

                }

                & #Vicenzo{
                    border: 2px solid rgb(255, 255, 255);
                    justify-self: center;
                    padding: 20px;
                    border-radius: 10px;

                }

                & figcaption{
                    width: 20vw;
                    border: 10px solid #01659D;
                    border-radius: 15px;
                    background-color: #004967;
                }
            }
        }

    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:480px) {
    body{
        background-size: auto auto;
    
        & main{
            margin: 30px;
    
            & #txt{
                & h3{
                    font-size: 40px;
    
                }
                & p{
                    padding: 10px;
                    font-size: 20px;
                }
            }
            
            & #equipe{
                & h3{
                    font-size: 30px;
                    padding: 80px;
                }
    
                & #fotos{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 20px;
                    width: 60vw;
                    font-size: 15px;         
    
                    & #Erick{
                        padding: 10px;
                        
                    }
    
                    & #Luiz{
                        padding: 10px;

    
                    }
    
                    & #Vicenzo{
                        padding: 10px;
    
                    }
    
                    & figcaption{
                        width: 50vw;
                        border: 10px solid #01659D;
                        border-radius: 15px;
                        background-color: #004967;
                    }
                }
            }
    
        }
    
        & footer{
            padding: 20px;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:768px) and (min-width:481px){
    body{
        background-size: auto auto;
    
        & main{
            margin: 100px;
    
            & #txt{
                & h3{
                    font-size: 40px;
    
                }
                & p{
                    padding: 10px;
                    font-size: 20px;
                }
            }
            
            & #equipe{
                & h3{
                    font-size: 30px;
                    padding: 80px;
                }
    
                & #fotos{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 20px;
                    width: 60vw;
                    font-size: 15px;         
    
                    & #Erick{
                        padding: 10px;
                        
                    }
    
                    & #Luiz{
                        padding: 10px;

    
                    }
    
                    & #Vicenzo{
                        padding: 10px;
    
                    }
    
                    & figcaption{
                        width: 50vw;
                        border: 10px solid #01659D;
                        border-radius: 15px;
                        background-color: #004967;
                    }
                }
            }
        }
    }
}
